[submodule "setup/arduino/lib/M5GFX"]
	path = setup/arduino/lib/M5GFX
	url = https://github.com/m5stack/M5GFX.git
[submodule "setup/arduino/lib/M5Stack"]
	path = setup/arduino/lib/M5Stack
	url = https://github.com/m5stack/M5Stack.git
[submodule "setup/arduino/lib/ArduinoJson"]
	path = setup/arduino/lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "setup/arduino/lib/efont"]
	path = setup/arduino/lib/efont
	url = https://github.com/tanakamasayuki/efont.git
