[submodule "setup/arduino/lib/M5GFX"]
	path = setup/arduino/lib/M5GFX
	url = https://github.com/m5stack/M5GFX.git
[submodule "setup/arduino/lib/M5Stack"]
	path = setup/arduino/lib/M5Stack
	url = https://github.com/m5stack/M5Stack.git
[submodule "setup/arduino/lib/ArduinoJson"]
	path = setup/arduino/lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "setup/arduino/lib/ESP8266Audio"]
	path = setup/arduino/lib/ESP8266Audio
	url = https://github.com/earlephilhower/ESP8266Audio
[submodule "setup/arduino/lib/ESP8266_Spiram"]
	path = setup/arduino/lib/ESP8266_Spiram
	url = https://github.com/Gianbacchio/ESP8266_Spiram.git
